<script>$(function (){ $("#myNavbar").find("[href='/function/report']").parent().addClass("active"); })</script>
<script src="~/Scripts/reportPothole.js"></script>

@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="map"></div>

